.imageContainer {
  margin-top: 1rem;
  padding: 2rem;
  overflow: hidden;
}
.addImageContainer {
  max-width: 70%;
  margin: 0.5rem auto;
  padding: 1rem;
  background-color: rgba(76, 76, 115, 0.723);
  color: #fff;
}

.inputContainer {
  display: flex;
  margin: 1rem 0px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.inputContainer > input {
  all: unset;
  border: 1px solid #fff;
  color: #242424;
  width: 100%;
  min-width: 20px;
  background-color: #fff;
  padding: 0.5rem;
}
.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.actions > button {
  all: unset;
  padding: 0.3rem 0.6rem;
  border: 0.5px solid #fff;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.btnClear:hover,
.btnClear:focus {
  background-color: rgb(192, 64, 64);
  border: 1px solid#242424;
}
.btnCreate:hover,
.btnCreate:focus {
  background-color: rgb(66, 146, 66);
  border: 1px solid#242424;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
}
.heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.backBtn {
  box-shadow: 1px 0px 2px 1px grey;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  height: 35px;
  padding: 5px;
  width: 35px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.backBtn:hover,
.backBtn:focus-visible {
  background-color: rgba(76, 76, 115, 0.723);
  color: #fff;
}
.searchContainer {
  display: flex;
  gap: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}
.searchInput {
  padding: 0px 0.5rem;
  outline: none;
  width: 0px;
  transform: translateX(40px);
  border: 1px solid #242424;
  transition: all 500ms ease-in-out;
  transform-origin: left;
  height: 32px;
  position: absolute;
  top: 0;
  left: -40px;
}
.open {
  transform: translateX(-50px);
  width: 100px;
  border-right: none;
}

.btn {
  all: unset;
  cursor: pointer;
  border: 1px solid #242424;
  padding: 0.3rem 0.6rem;
  transition: all 500ms ease-in-out;
  background-color: #fff;
  z-index: 1;
}
.btn:hover,
.btn:focus-visible {
  background-color: rgb(76, 76, 115);
  color: #fff;
}

.imagesSection {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
